<!DOCTYPE HTML>

<html>
<head>

<meta charset="utf-8">
<title>jQuery File Upload Demo - jQuery UI version</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- jQuery UI styles -->
<link rel="stylesheet" href="/static/plugin/jquery-ui/jquery-ui.css" id="theme">
<!-- Demo styles -->
<link rel="stylesheet" href="/static/plugin/file-upload/css/demo.css">
<!--[if lte IE 8]>
<link rel="stylesheet" href="css/demo-ie8.css">
<![endif]-->
<style>

.ui-widget {
    font-size: 0.95em;
}
</style>
<!-- blueimp Gallery styles -->
<link rel="stylesheet" href="/static/plugin/file-upload/css/blueimp-gallery.min.css">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="/static/plugin/file-upload/css/jquery.fileupload.css">
<link rel="stylesheet" href="/static/plugin/file-upload/css/jquery.fileupload-ui.css">
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript><link rel="stylesheet" href="/static/plugin/file-upload/css/jquery.fileupload-noscript.css"></noscript>
<noscript><link rel="stylesheet" href="/static/plugin/file-upload/css/jquery.fileupload-ui-noscript.css"></noscript>
</head>
<body>
<script src="/static/plugin/jquery/jquery-1.11.2.min.js"></script>
<script src="/static/plugin/jquery-ui/jquery-ui.min.js"></script>

 {{{body}}}


</body> 
</html>