<form action="/server" method="post">
<table>
	<tr>name</tr><tr><input name="name"></tr>
	<tr>host</tr><tr><input name="host"></tr>
	<tr>status</tr><tr><input name="status"></tr>
	<tr><input type="submit" value="提交"></tr>
</table>
</form>