<form method="post" action="/resource/update/{{uri}}">
	<table>
		<tr>
			<td>uri</td>
			<td><input type="text" name="uri" value="{{uri}}"/></td>
		</tr>
		<tr><td><input type="submit" value="提交"></td></tr>
	</table>
</form>